[package]
name = "frontend"
version = "0.1.0"
edition = "2024"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ahash = "0.7.8"
mimalloc = "0.1.46"
smallvec = "1.15.0"
indexmap = "2.9.0"
anyhow = "1.0.98"